<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to the quiz</title>
<style>
    a{
        width: 15%;
        height: 15%;
        margin: auto;
        top:0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: aliceblue;
        position: absolute;
    }
</style>    
</head>
<body>
    <center><a href="/quiz/"><h1>Start Quiz</h1></a></center>
</body>
</html>
